body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-family: 'Poppins', sans-serif */
    font-family: 'Poppins', sans-serif;
}

#myzebrasx-header {
}

.log-new-button{
}

.symptomaticevent-logs{
    display: flex;
}

.log-leftside, .log-rightside{
    flex: 50%;
}

#new-log-form{

}
