<%- include("../partials/head.ejs") %>

<body>
    <h1 id="myzebrasx-header">myZebraSymptoms Tracker</h1>
    
    <h2>Log A New Symptomatic Event</h2>
    
    <form action="/symptoms" method="post" id="new-log-form">

        <p><label for="description">Symptom experienced:</label>
        <input type="text" name="description" placeholder="symptom"/></p><br>
        
        <p><label for="startTime">When did the symptom start?:</label><br>
        <input type="datetime-local" name="startTime"></p><br>

        <p><label for="endTime">When did the symptom end?:</label><br>
        <input type="datetime-local" name="endTime"></p><br>
        
        <p><label for="treated">Treated?</label>
        <input type="checkbox" name="treated"/><br>

        <label for="treatment">Treatment used:</label><br>
        <input type="text" name="treatment" placeholder="treatment used"/></p><br>

        <input type="submit" value="Finish"/>

    </form>

</body>
</html>