<%- include("../partials/head.ejs") %>

<body>
    <h1 id="myzebrasx-header">myZebraSymptoms Tracker</h1>
    
    <h2>Log A New Symptomatic Event</h2>
    
    <form action="/symptoms" method="post">
        <input type="text" name="description" placeholder="symptom experienced"/>
        <!-- START TIME <input type="" name="start time" /> -->
        <!-- END TIME <input type="" name="end time" /> -->
        <input type="date" name="start date">
        <input type="time" name="start time">
        <input type="date" name="end date"> 
        <input type="time" name="end time">       
        <input type="checkbox" name="treated"/>
        <input type="text" name="treatment" placeholder="treatment used"/>
        <input type="submit" value="Finish"/>

    </form>

</body>
</html>